{% load static  %}
{% load myTest_tags  %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django site</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
      {% block mainmenu %}
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            {% list_menu request.user.is_authenticated as menu %}
                {% for m in menu %}
                <a class="me-3 py-2 text-dark text-decoration-none"  href="{% url m.url_name %}">
                    <span class="fs-5">{{ m.name }}</span>
                </a>
                {% endfor %}

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    {% if request.user.is_authenticated %}
                <span class="me-3 py-2 text-dark text-decoration-none" >{{ user.username }} | <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'logout' %}">Выйти</a></span>
                {% else %}
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'regist' %}">Регистрация</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href=""> | </a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'log_in' %}">Войти</a>
                {% endif %}
        </nav>
    </div>

        {% endblock mainmenu %}

        {% block content %}
        {% endblock %}


        <table>
    <thead>
        <tr>
            <th colspan="2">
            </th>
        </tr>
    </thead>
    <tr>
        <td valign="top" class="rightmenu">
        </td>
        <td>
        </td>
    </tr>
    <tfoot>
    <tr>
        <td colspan="2">
            <div class="jfooter">
            </div>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>