{% load static  %}
{% load myTest_tags  %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django site</title>
    <link type="text/css" href="{% static 'myTest/css/styles.css'  %}" rel="stylesheet">
</head>
<body>
<table>
    <thead>
        <tr>
            <th colspan="2">
                {% block mainmenu %}
                    <ul>
                    {% list_menu request.user.is_authenticated as menu %}
                    {% for m in menu %}
                        <li class="menu"><a href="{% url m.url_name %}">{{ m.name }}</a></li>
                    {% endfor %}
                        {% if request.user.is_authenticated %}
                            <li class="menu">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
                        {% else %}
                            <li class="menu"><a href="{% url 'regist' %}">Регистрация</a> | <a href="{% url 'log_in' %}">Войти</a></li>
                        {% endif %}
                    </ul>
            {% endblock mainmenu %}
            </th>
        </tr>
    </thead>
    <tr>
        <td valign="top" class="rightmenu">
        </td>
        <td>
            {% block content %}
            {% endblock %}
        </td>
    </tr>
    <tfoot>
    <tr>
        <td colspan="2">
            <div class="jfooter">
            </div>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>